<html>
<head><title>Anagram</title></head>
<body>
<center>
<form id="form1" method="get" action="/get_input">
<table border=1 bgcolor=#FAF0E6 width=500>
<tr align=center><th><b>Anagram string</b><br><br></th></tr>
<tr align=center><td>
Input first string  : <input type="text" name="text1" id="text1"><br>"
Input second string : <input type="text" name="text2" id="text2"><br>"
<input type="submit" name="Submit" value="Submit">

</td></tr>
</table>
</form>
</center>
</body>
</html>

