<html>
<head><title>Pascals triangle</title></head>
<body>
<center>
<form id="form1">
<table border=1 bgcolor=#FAF0E6 width=500>
<tr align=center><th><b>Pascals Triangle</b><br><br></th></tr>
<tr align=center><td>
Hi
<%
require 'rubygems'
require 'bundler/setup'
require 'sinatra'
require 'mysql'
require '~/training-ruby/shekar/16_September/test'

  obj=ABC.new%>
Values from constructor <br>
<%= obj.print_values() %>
<%obj.assign_values(100,100) %>
<br>Values from methods<br>
<%= obj.print_values()%>
</td></tr>
</table>
</form>
</center>
</body>
</html>

