<html>  
  <head>  <link rel="stylesheet" type="text/css" href="des.css">
  <title>Math Demo</title>  
<center> <h3> MATHEMATICS </h3> </center>
  </head>  
<body>  
 <p> Will it print 4+5 (or) 9 ?????
<br> 
  Oh its  
  <%= 4 +5 %>  
  :-) </p>
<center><h3> THE END </h3>
 <img src="maths.jpg" alt="maths" width="500" height="500">
</center>
  </body>  
  </html>  
