<html>
<head><title>Pascals triangle</title></head>
<body>
<center>
<form id="form1">
<table border=1 bgcolor=#FAF0E6 width=500>
<tr align=center><th><b>Pascals Triangle</b><br><br></th></tr>
<tr align=center><td>

<% 
  def factorial(n1)
   res=1
    for c2 in 1..n1
         res = res*c2
    end
   return res
  end
  n=10
  k=0
  for i in 0..n
      m=n-i-2
      for c in 0..m %>
<%=       " ".to_s  %>
<%    end
      for c1 in 0..i %>
<%=      factorial(i)/(factorial(c1)*factorial(i-c1)).to_i %>
<%    end %>
<%= "<br>".to_s %>
<% end %>

</script>
</td></tr>
</table>
</form>
</center>
</body>
</html>

